.cart {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  display: none;
  width: 320px;
  height: 100%;
  min-height: 430px;
  flex-direction: column;
  justify-content: space-between;
  padding: 22px 20px 24px;
  border-radius: 4px 0 0 4px;
  background: var(--white);
  gap: 40px;
}

.cart-open {
  display: flex;
  animation-duration: 0.15s;
  animation-fill-mode: forwards;
  animation-name: slide-in;
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.cart-closing {
  animation-duration: 0.15s;
  animation-name: slide-out;
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(239, 238, 244, 0.85);
}

.overlay-open {
  display: block;
  animation-duration: 0.15s;
  animation-fill-mode: forwards;
  animation-name: enter;
}

@keyframes enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.overlay-closing {
  animation-duration: 0.15s;
  animation-fill-mode: forwards;
  animation-name: exit;
}

@keyframes exit {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.cart-header {
  display: flex;
  justify-content: space-between;
}

.btn-cart {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 6px 8px 6px 6px;
  background-color: var(--white);
  color: var(--blue_light);
  fill: var(--blue_light);
  gap: 4px;
}

.btn-cart-close {
  border: none;
  background-color: transparent;
}

.cart-items {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
}

.cart-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.btn-cart_footer {
  display: block;
  width: 100%;
  padding: 2px 8px 4px;
}

.cart-total-count {
  color: var(--gray_main);
}

/* cart item */

.cart-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.cart-item:hover .btn-delete {
  transform: translateX(100%);
}

.cart-item-img {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  object-fit: cover;
}

.cart-item-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 8px;
}

.cart-item-counter {
  display: flex;
  overflow: hidden;
  width: 72px;
  align-items: center;
  border-radius: 4px;
  background-color: var(--gray_light);
}

.counter-btn {
  display: block;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
}

.counter-number {
  width: 32px;
  text-align: center;
}

.cart-price {
  color: var(--gray_main);
}

.btn-delete {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  padding-left: 14px;
  border: none;
  border-radius: 4px;
  background-color: var(--red);
  color: var(--white);
  fill: var(--white);
  transform: translateX(110%);
  transition: transform 0.5s;
}

.cart-item:hover .btn-delete:hover {
  transform: translateX(80%);
}
