.categories-container {
  display: flex;
  overflow: hidden;
  height: 100%;
  border-radius: 4px;
  overflow-x: auto;
  scrollbar-width: none;
}

.categories-container-hidden {
  display: none;
}

.categories-container::-webkit-scrollbar {
  width: none;
}

.categories-container::-webkit-scrollbar-track {
  background: transparent;
}

.categories-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.categories-btn {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 6px 8px;
  background: var(--white);
  color: var(--gray_main);
  cursor: pointer;
  gap: 4px;
  transition:
    background-color 0.5s,
    color 0.5s;
}

.categories-btn:hover {
  background-color: var(--blue_light);
  color: var(--white);
}

.categories-btn-active {
  background-color: var(--blue_light);
  color: var(--white);
}

.categories-btn-input {
  display: none;
  width: 6px;
  height: 6px;
  margin: 0;
  appearance: none;
  background-color: var(--white);
}

.categories-btn-input-active {
  display: block;
  border-radius: 50%;
}
