.card {
  position: relative;
  display: flex;
  max-width: 320px;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  border: 1px solid var(--white);
  background: var(--gray_light);
  gap: 8px;
}

.card-img {
  width: 288px;
  height: 288px;
  object-fit: cover;
}

.card-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.card-description {
  width: 100%;
  height: 36px;
}

.card-description-open {
  height: 335px;
}

.card-description-open .text-hidden {
  overflow: auto;
  white-space: initial;
}

.text-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-price {
  display: flex;
  gap: 8px;
}

.btn-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 8px 4px 4px;
  fill: var(--white);
  gap: 4px;
}

.btn-price-active {
  fill: var(--blue_light);
}

.btn-price-active:hover {
  fill: var(--white);
}
