*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --gray_light: #efeef4;
  --gray_main: #5c6970;
  --gray_dark: #2e3438;
  --blue_light: #3625ff;
  --blue_dark: #0c0099;
  --red: #d35151;
}

button {
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

button,
p,
h1,
h2,
h3,
ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

.text-xl {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 28px;
}

.text-l {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 24px;
}

.text-m {
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.03em;
  line-height: 18px;
}

.text-s {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 16px;
}

.text-xs {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 18px;
}

html {
  font-family: "Inter", sans-serif;
}

.body {
  position: relative;
  margin: 0;
  background-color: var(--gray_light);
  color: var(--gray_dark);
}

.body.hide_scroll {
  overflow: hidden;
}

.btn {
  border: none;
  border-radius: 4px;
  background-color: transparent;
  color: var(--white);
  transition:
    background-color 0.5s,
    color 0.5s;
}

.btn:hover {
  background-color: var(--blue_dark);
}

.btn_accent {
  background-color: var(--blue_light);
}

.btn_white {
  background-color: var(--white);
  color: var(--blue_light);
}

.btn_white:hover {
  background-color: var(--blue_light);
  color: var(--white);
}

.badge {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2px 4px;
  border-radius: 4px;
  cursor: default;
  gap: 4px;
}

.badge_white {
  background-color: var(--white);
  color: var(--gray_dark);
  fill: var(--blue_light);
}

.text_accent {
  color: var(--blue_light);
}

.text_stroke {
  color: var(--gray_main);
  text-decoration-line: line-through;
}

.products-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 320px);
}

.text-info {
  padding: 18px;
}

@media screen and (max-width: 1440px) {
  .products-container {
    grid-template-columns: repeat(3, 320px);
  }
}

@media screen and (max-width: 1024px) {
  .products-container {
    grid-template-columns: repeat(2, 320px);
  }
}

@media screen and (max-width: 768px) {
  .products-container {
    grid-template-columns: repeat(1, 320px);
  }
}
